<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
  <!--
  <coverage pathCoverage="false" cacheDirectory="/tmp">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <text outputFile="/dev/stdout" />
    </report>
  </coverage>
  -->
</phpunit>
